{% extends 'base.html' %}
{% load static %}
{% block title %}Ваши сообщения{% endblock %}
{% block main_content %}
    <div class="main-content">
        <div class="inbox">
            {% if got_messages %}
                <h2>Ваши сообщения | Всего: {{ total_messages }}</h2>
                {% for message in messages %}
                    <div class="message">
                        <p>ID={{ message.gmail_id }}</p>
                        <p><strong>From:</strong> {{ message.sender }}</p>
                        <p><strong>Subject:</strong> {{ message.subject }}</p>
                        <p><strong>Date:</strong> {{ message.received_at }}</p>
                    </div>
                {% endfor %}

                <p class="load_messages_count">Загружено {{ loaded_messages }} последних сообщений.</p>
                <div class="centered">
                    <div class="load_more">
                        <form action="{% url 'messages:load_more_messages' %}" method="post">
                            <input type="hidden" name="offset" value="{{ offset }}">
                            {% csrf_token %}
                            <button type="submit" class="btn">Загрузить еще</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}